Repository mcnabb998/kconnect-console: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, react-test, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-test
        name: Go Tests
        entry: bash -c 'cd proxy && go test ./...'
        language: system
        pass_filenames: false
        always_run: true
        
      - id: go-fmt
        name: Go Format
        entry: bash -c 'cd proxy && gofmt -w .'
        language: system
        files: \.go$
        
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd proxy && go vet ./...'
        language: system
        files: \.go$
        
      - id: react-test
        name: React Tests
        entry: bash -c 'cd web && npm test -- --watchAll=false'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: correct Jest arguments in CI/CD pipeline
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

fix: Complete Response mock objects for CI/CD compatibility
  web/__tests__/api.test.ts
Due: react-test, typescript-check

fix: Handle undefined connectorPlugins in Cards component
  web/components/settings/Cards.tsx
Due: react-test, typescript-check

fix: Complete all Settings test fixes for 100% test pass rate
  web/__tests__/Settings.test.tsx
  web/app/settings/page.tsx
  web/eslint.config.js
  web/package-lock.json
  web/package.json
Due: react-test, typescript-check

feat: comprehensive UI fixes and functionality improvements
  web/app/cluster/page.tsx
  web/app/connectors/[name]/page.tsx
  web/app/connectors/page.tsx
  web/public/api-test.html
Due: react-test, typescript-check

Fix ConnectorDetail test failures
  web/app/connectors/[name]/page.tsx
Due: react-test, typescript-check

Update README to reflect current project specifications
  README.md
Due: none

feat: add transformations tab for connector details
  web/__tests__/TransformationsTab.test.tsx
  web/app/connectors/[name]/TransformationsTab.tsx
  web/app/connectors/[name]/page.tsx
  web/components/smts/PreviewPanel.tsx
  web/components/smts/TransformEditor.tsx
  web/components/smts/TransformList.tsx
  web/lib/connectApi.ts
  web/types/connect.ts
Due: react-test, typescript-check

Fix connector config typing for transformations tab
  web/app/connectors/[name]/page.tsx
Due: react-test, typescript-check

Use Promise microtask fallback for SMT updates
  web/app/connectors/[name]/TransformationsTab.tsx
Due: react-test, typescript-check

Update Copilot instructions with current project specifications
  .github/copilot-instructions.md
Due: none

fix: replace hardcoded localhost URLs with environment-aware configuration
  .env.example
  compose/docker-compose.yml
  web/app/cluster/page.tsx
  web/app/connectors/[name]/page.tsx
  web/app/connectors/page.tsx
  web/app/monitoring/MonitoringSummaryProvider.tsx
  web/app/page.tsx
  web/lib/api.ts
  web/lib/config.ts
  web/lib/connectApi.ts
Due: react-test, typescript-check

fix: replace brittle proxy URL construction with robust URL parsing
  proxy/main.go
Due: go-fmt, go-vet

fix: add request timeouts to prevent indefinite hangs
  web/app/page.tsx
  web/lib/api.ts
  web/lib/fetchWithTimeout.ts
Due: react-test, typescript-check

fix: prevent cache thundering herd with fetching flag
  proxy/main.go
Due: go-fmt, go-vet

fix: add proper health check for Kafka Connect dependency
  proxy/main.go
  proxy/main_test.go
Due: go-fmt, go-vet

perf: parallelize summary handler requests with worker pool
  proxy/main.go
Due: go-fmt, go-vet

fix: support comma-separated CORS origins for multi-environment deployments
  .env.example
  proxy/main.go
Due: go-fmt, go-vet

fix: correct Salesforce and EventBridge connector configurations
  .gitignore
  web/data/connectorTemplates.ts
Due: react-test, typescript-check

chore: ignore optional dev mode files in gitignore
  .gitignore
Due: none

docs: update README to reflect production-ready improvements
  README.md
Due: none

chore: remove obsolete docker-compose version attribute
  compose/docker-compose.yml
Due: none

feat: add pagination to connector list with comprehensive tests
  IMPROVEMENTS.md
  web/__tests__/pagination.test.tsx
  web/app/page.tsx
  web/jest.setup.ts
Due: react-test, typescript-check

feat: implement request concurrency limiting with batch fetching
  web/__tests__/batchFetch.test.ts
  web/app/page.tsx
  web/lib/batchFetch.ts
Due: react-test, typescript-check

docs: update IMPROVEMENTS.md with completed scalability fixes
  IMPROVEMENTS.md
Due: none

fix: add missing useSearchParams mock to Home test
  web/__tests__/Home.test.tsx
Due: react-test, typescript-check

feat: add auto-refresh to connector list with comprehensive tests
  web/__tests__/autoRefresh.test.tsx
  web/app/page.tsx
Due: react-test, typescript-check

fix: correct ESLint disable comment in batchFetch test
  web/__tests__/batchFetch.test.ts
Due: react-test, typescript-check

fix: remove invalid ESLint disable comment in batchFetch test
  web/__tests__/batchFetch.test.ts
Due: react-test, typescript-check

feat: add comprehensive testing and development workflow tools
  DEVELOPMENT.md
  IMPROVEMENTS.md
  scripts/pre-commit-check.ps1
  scripts/pre-commit-check.sh
  web/package.json
Due: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/test.yml
Due: none

feat: add toast notification system with comprehensive tests
  web/__tests__/Toast.test.tsx
  web/__tests__/useToast.test.ts
  web/app/page.tsx
  web/components/ConnectorBulkActions.tsx
  web/components/Toast.tsx
  web/components/ToastContainer.tsx
  web/hooks/useToast.ts
Due: react-test, typescript-check

feat: integrate toast notifications into connector detail page
  web/__tests__/ConnectorDetail.test.tsx
  web/app/connectors/[name]/page.tsx
Due: react-test, typescript-check

docs: mark toast notifications as completed in IMPROVEMENTS.md
  IMPROVEMENTS.md
Due: none

security: add explicit permissions to GitHub workflow jobs
  .github/workflows/test.yml
Due: none

docs: comprehensive sprint plan for UX improvements
  IMPROVEMENTS.md
Due: none

﻿feat: add LoadingButton component with loading states
  web/__tests__/LoadingButton.test.tsx
  web/app/connectors/[name]/page.tsx
  web/app/page.tsx
  web/components/LoadingButton.tsx
Due: react-test, typescript-check

updatre loading
  web/components/LoadingButton.tsx
Due: react-test, typescript-check

fix: prevent concurrent connector actions with proper button disabling
  CONCURRENT-ACTION-FIX.md
  web/__tests__/ConnectorDetail.test.tsx
  web/app/connectors/[name]/page.tsx
Due: react-test, typescript-check

feat: add loading states to transformations and cluster pages
  web/app/cluster/page.tsx
  web/app/connectors/[name]/TransformationsTab.tsx
Due: react-test, typescript-check
